body {
    background-color: #20c997;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    background-color: #009769;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: -1%;
}

/* Form */
label {
    display: inline;
    font-size: 1.3em;
}

input {
    background: white;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 5px;
}

select.add {
    margin-top: 1%;
    margin-right: 1%;
    padding: 1px 2px;
    border-radius: 5px;
    background: white;
    font-size: 1.2em;
    
}

select.filter {
    text-align: center;
    border-radius: 5px;
    background: white;
    font-size: 1.6em;
}

button {
    background: #20c997;
    border-radius: 5px;
    font-size: 1.3em;
}

.addsong {
    text-align: center;
    background: #67fdc7;
    padding-top: 1%;
    padding-bottom: 1%;
}

.filtersongs {
    padding-top: 2%;
    text-align: center;
}

/* List */
ul {
    list-style-type: none;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

img {
    float: left;
    margin-right: 1rem;
    max-width: 300px;
    max-height: 200px;
}

.songinfo {
    display: inline;
}

.container-fluid {
    max-width: 90%;
    min-height: 250px;
    background: white;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: #eaeaea solid 1px;
    border-radius: 5px;
}

.container-fluid.happy {
    border: yellow solid 5px;

}

.container-fluid.sad {
    border: #0d6efd solid 5px;
}

.container-fluid.mad {
    border: #dc3545 solid 5px;
}