<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <title>Mood Music</title>
  </head>
  <body>
    <div id="songlist">
        <h1>Mood Music</h1>
        <div class="addsong">
          <div class="form">
            <label for="title">
              Title: <input v-model="title" type="text" id="title">
            </label>  
            <label for="artist">
              Artist: <input v-model="artist" type="text" id="artist">
            </label>  
            <label for="coverArt">
              Cover Art URL: <input v-model="coverArt" type="text" id="coverArt">
            </label> <br>
            <label for="link">
              Link to Song: <input v-model="link" type="text" id="link">
            </label>
            <label for="mood">
              Mood:
              <select v-on:change="chooseMood" v-model="mood" id="mood" class="add">
                <option value="">Select a mood...</option>
                <option v-for="item in moodList">{{item}}</option>
              </select>
            </label>
              <button v-on:click="createNew">Add a New Song</button>
              <span v-show="error" class="error">Oopsie! Title, Artist, and Mood are Required.</span>
          </div>
        </div>
          <div class="filtersongs">
            <div class="form">
                <select v-on:change="filterList" v-model="filterMood" class="filter">     
                  <option value="">Filter by mood...</option>
                  <option v-for="item in filterByList">{{item}}</option>
                </select>
            </div>
          </div>
        
        <ul>
            <li class="container-fluid"
                v-for="song of songList"
                v-show="filterMood === '' || filterMood === song.mood" 
                v-bind:class="song.mood">
                <a v-bind:href="song.link">
                    <img v-bind:src="song.thumbnail" alt="Cover Art of the Song">
                </a>
                <div class="songinfo">
                  <h3>{{song.title}}</h3>
                  <h4>by {{song.artist}}</h4>
                </div>
            </li>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>  
    <script src="app.js"></script>
    
</body>
</html>